.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience-h5 {
  color: var(--color-light);
}

.experience__container > div {
  background: var(--color-linear);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  box-shadow: var(--shadow-1);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-black);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__icon {
  margin-top: 9px;
  color: var(--color-primary);
}

h4 {
  color: var(--color-black);
}

/* ------- MEDIA QUERIES MEDIA DEVICES ------- */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__content {
    padding: 1rem;
    margin-right: 2.5rem;
  }
  .experience__details h4 {
    font-size: 0.8rem;
  }
  .experience__details small {
    font-size: 0.6rem;
  }
}

/* ------- MEDIA QUERIES SMALL DEVICES ------- */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 90%;
    padding: 1rem 1rem;
  }
}
