.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
}

.contact__option h4 {
  color: var(--color-black);
  font-size: 1rem;
}

.contact__option h5 {
  color: var(--color-black);
  font-size: 0.7rem;
}

.contact-h5 {
  color: var(--color-light);
}

.contact__option {
  background: var(--color-linear);
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  box-shadow: var(--shadow-1);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.contact__option-icon {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--color-light);
}

/* -------- FORM ------- */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background: var(--color-linear);
  box-shadow: var(--shadow-1);
  padding: 1rem;
  border-radius: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid var(--color-black);
  resize: none;
  color: var(--color-black);
}

/* ------- MEDIA QUERIES MEDIA DEVICES ------- */

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ------- MEDIA QUERIES SMALL DEVICES ------- */

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
