.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.service {
  background: var(--color-linear);
  border-radius: 1.5rem;

  height: fit-content;
  transition: var(--transition);
  box-shadow: var(--shadow-1);
}

.service:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  cursor: default;
}

.services__head {
  padding: 1.5rem 0;
}

.services__head h3 {
  color: var(--color-black);
  font-size: 1.1rem;
  text-align: center;
}

.service__heade-h5 {
  font-size: 0.8rem;
  color: var(--color-light);
}
.services__head p {
  font-size: 0.6rem;
  color: var(--color-black);
}
.service__list {
  padding: 4rem;
}

.service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.service__list-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.service__list p {
  font-size: 0.9rem;
  color: var(--color-black);
}

.work-experience-h5 {
  color: var(--color-light);
}
/* ------- MEDIA QUERIES MEDIA DEVICES ------- */

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service {
    height: auto;
  }
}

/* ------- MEDIA QUERIES SMALL DEVICES ------- */

@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
